# Recommenders with collaborative filtering

In [2]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import os

In [3]:
df_movies = pd.read_csv('/Users/abdulmateen/tensorflow-test/mlproject/recommender_system/data/ml-latest-small/movies.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/abdulmateen/tensorflow-test/mlproject/recommender_system/data/ml-latest-small/movies.csv'

In [ ]:
df_ratings = pd.read_csv('/Users/abdulmateen/tensorflow-test/mlproject/recommender_system/data/ml-latest-small/ratings.csv')

In [16]:
tags = pd.read_csv('/Users/abdulmateen/tensorflow-test/mlproject/recommender_system/data/ml-latest-small/tags.csv')

In [129]:
# Average rating per movie 1
np.mean(df_ratings[df_ratings['movieId'] == 1]['rating'])

3.9209302325581397

In [23]:
print(df_ratings.shape)
print(df_movies.shape)

(100836, 4)
(9742, 3)

In [137]:
user_arr = df_ratings['rating'].values
movie_arr = df_ratings['movieId']

In [1]:
movie_arr

NameError: name 'movie_arr' is not defined

In [645]:
def cofi_cost_func_v(X, W, b, Y, R, lambda_):
    """
    Returns the cost for the content-based filtering
    Vectorized for speed. Uses tensorflow operations to be compatible with custom training loop.
    Args:
      X (ndarray (num_movies,num_features)): matrix of item features
      W (ndarray (num_users,num_features)) : matrix of user parameters
      b (ndarray (1, num_users)            : vector of user parameters
      Y (ndarray (num_movies,num_users)    : matrix of user ratings of movies
      R (ndarray (num_movies,num_users)    : matrix, where R(i, j) = 1 if the i-th movies was rated by the j-th user
      lambda_ (float): regularization parameter
    Returns:
      J (float) : Cost
    """
    j = (tf.linalg.matmul(X, tf.transpose(W)) + b - Y)*R
    J = 0.5 * tf.reduce_sum(j**2) + (lambda_/2) * (tf.reduce_sum(X**2) + tf.reduce_sum(W**2))
    return J

In [434]:
df = pd.DataFrame({'userId': df_ratings['userId'],
                   'movieId': df_ratings['movieId'],
                   'rating': df_ratings['rating']})

In [437]:
df = df.pivot(index='movieId',columns='userId',values='rating')

In [496]:
df_ratings[df_ratings['movieId']==170875]

        userId  movieId  rating   timestamp
7401        50   170875     1.0  1514498060
37406      249   170875     3.0  1505164817
100835     610   170875     3.0  1493846415

In [482]:
emp = []
for i in df_ratings['movieId'].unique():
    if len(df_ratings[df_ratings['movieId']==i]) == 1:
        emp.append(i)

In [622]:
df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [515]:
for i in nan:
    index = df_movies[df_movies['movieId']==i].index[0]
    df_movies.drop(index=index,inplace=True)

In [753]:
nan

[1076,
 2939,
 3338,
 3456,
 4194,
 5721,
 6668,
 6849,
 7020,
 7792,
 8765,
 25855,
 26085,
 30892,
 32160,
 32371,
 34482,
 85565]

In [516]:
df_movies['movieId'].nunique()

9724

In [517]:
df_ratings['movieId'].nunique()

9724

In [501]:
nan = []
for i in df_movies['movieId'].unique():
    if i not in df_ratings['movieId'].unique():
        nan.append(i)
print(len(nan))

18

In [632]:
Y

array([[0. , 4. , 0. , ..., 2.5, 3. , 5. ],
       [0. , 0. , 0. , ..., 2. , 0. , 0. ],
       [0. , 4. , 0. , ..., 2. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [638]:

Y = df.fillna(0)
Y = Y.to_numpy()
Y.shape

(9724, 610)

In [641]:
R.shape

(9724, 610)

In [640]:
R = np.where(Y != 0, 1, 0)

In [620]:
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [519]:
num_movies = len(df_movies)

In [520]:
min(arr)

1

In [194]:
arr = []
for i in df_ratings['movieId'].unique():
    arr.append(len(df_ratings[df_ratings['movieId']==i].value_counts()))

In [182]:
len(df_ratings[df_ratings['movieId']==2].value_counts())

110

In [521]:
movie_list = df_movies['title'].to_list()

my_ratings = np.zeros(num_movies)

In [700]:
np.mean(df_ratings[df_ratings['movieId'] == 366]['rating'])

2.9166666666666665

In [703]:
df_movies.iloc[999]

movieId                      1302
title      Field of Dreams (1989)
genres     Children|Drama|Fantasy
Name: 1000, dtype: object

In [705]:
my_ratings[2700] = 4 # Carnival of Souls (1962)
my_ratings[999] = 1 # Field of Dreams (1989)
my_ratings[929]  = 2   #  Annie Hall (1977)
my_ratings[246]  = 5   #  New York Cop (Nyû Yôku no koppu) (1993)
my_ratings[2716] = 3   # City of the Living Dead (a.k.a. Gates of Hell,...
my_ratings[1150] = 5   # Temptress Moon (Feng Yue) (1996)
my_ratings[382]  = 2   # Cowboy Way, The (1994)
my_ratings[366]  = 3   #  Blink (1994)
my_ratings[622]  = 5   #  Nutty Professor, The (1996)
my_ratings[988]  = 3   #  Some Kind of Wonderful (1987)
my_ratings[2925] = 4  # Abbott and Costello Meet Frankenstein (1948)
my_ratings[2937] = 1   #  Digimon: The Movie (2000)
my_ratings[793]  = 5   #  Die Hard (1988)
my_rated = [i for i in range(len(my_ratings)) if my_ratings[i] > 0]

In [706]:
my_rated

[246, 366, 382, 622, 793, 929, 988, 999, 1150, 2700, 2716, 2925, 2937]

In [744]:
df_movies.iloc[793]

movieId                     1036
title            Die Hard (1988)
genres     Action|Crime|Thriller
Name: 793, dtype: object

In [746]:
np.mean(df_ratings[df_ratings['movieId'] == 1036]['rating'])

3.8620689655172415

In [713]:
print('\nNew user ratings:\n')
for i in range(len(my_ratings)):
    if my_ratings[i] > 0:
        print(f"Rated {my_ratings[i]} for movie {df_movies.iloc[i]['title']}")

New user ratings:

Rated 5.0 for movie New York Cop (Nyû Yôku no koppu) (1993)
Rated 3.0 for movie Blink (1994)
Rated 2.0 for movie Cowboy Way, The (1994)
Rated 5.0 for movie Nutty Professor, The (1996)
Rated 5.0 for movie Die Hard (1988)
Rated 2.0 for movie Annie Hall (1977)
Rated 3.0 for movie Some Kind of Wonderful (1987)
Rated 1.0 for movie Field of Dreams (1989)
Rated 5.0 for movie Temptress Moon (Feng Yue) (1996)
Rated 4.0 for movie Carnival of Souls (1962)
Rated 3.0 for movie City of the Living Dead (a.k.a. Gates of Hell, The) (Paura nella città dei morti viventi) (1980)
Rated 4.0 for movie Abbott and Costello Meet Frankenstein (1948)
Rated 1.0 for movie Digimon: The Movie (2000)

In [714]:
def normalizeRatings(Y, R):
    """
    Preprocess data by subtracting mean rating for every movie (every row).
    Only include real ratings R(i,j)=1.
    [Ynorm, Ymean] = normalizeRatings(Y, R) normalized Y so that each movie
    has a rating of 0 on average. Unrated moves then have a mean rating (0)
    Returns the mean rating in Ymean.
    """
    Ymean = (np.sum(Y*R,axis=1)/(np.sum(R, axis=1)+1e-12)).reshape(-1,1)
    Ynorm = Y - np.multiply(Ymean, R) 
    return(Ynorm, Ymean)

In [715]:
# Add new user ratings to Y
Y = np.c_[my_ratings, Y]

# Add new user indicator matrix to R
R = np.c_[(my_ratings != 0).astype(int), R]

# Normalize the Dataset
Ynorm, Ymean = normalizeRatings(Y, R)

In [716]:
Y.shape

(9724, 612)

In [4]:
#  Useful Values
num_movies, num_users = Y.shape
num_features = 100

# Set Initial Parameters (W, X), use tf.Variable to track these variables
with tf.device('/CPU:0'):
    tf.random.set_seed(1234) # for consistent results
    W = tf.Variable(tf.random.normal((num_users,  num_features),dtype=tf.float64),  name='W')
    X = tf.Variable(tf.random.normal((num_movies, num_features),dtype=tf.float64),  name='X')
    b = tf.Variable(tf.random.normal((1,          num_users),   dtype=tf.float64),  name='b')

    # Instantiate an optimizer.
    optimizer = keras.optimizers.Adam(learning_rate=1e-1)

NameError: name 'Y' is not defined

In [730]:
iterations = 400
lambda_ = 2
for iter in range(iterations):
    # Use TensorFlow’s GradientTape
    # to record the operations used to compute the cost 
    with tf.GradientTape() as tape:

        # Compute the cost (forward pass included in cost)
        cost_value = cofi_cost_func_v(X, W, b, Ynorm, R, lambda_)

    # Use the gradient tape to automatically retrieve
    # the gradients of the trainable variables with respect to the loss
    grads = tape.gradient( cost_value, [X,W,b] )

    # Run one step of gradient descent by updating
    # the value of the variables to minimize the loss.
    with tf.device('/CPU:0'):
        optimizer.apply_gradients( zip(grads, [X,W,b]) )

    # Log periodically.
    if iter % 20 == 0:
        print(f"Training loss at iteration {iter}: {cost_value:0.1f}")

Training loss at iteration 0: 6188842.4
Training loss at iteration 20: 355936.0
Training loss at iteration 40: 108586.7
Training loss at iteration 60: 44842.9
Training loss at iteration 80: 24326.9
Training loss at iteration 100: 16207.6
Training loss at iteration 120: 12473.3
Training loss at iteration 140: 10579.9
Training loss at iteration 160: 9546.5
Training loss at iteration 180: 8944.4

In [734]:
# Make a prediction using trained weights and biases
p = np.matmul(X.numpy(), np.transpose(W.numpy())) + b.numpy()

#restore the mean
pm = p + Ymean

my_predictions = pm[:,0]

# sort predictions
ix = tf.argsort(my_predictions, direction='DESCENDING')

for i in range(10):
    j = ix[i]
    if j not in my_rated:
        print(f'Predicting rating {my_predictions[j]:0.2f} for movie {movie_list[j]}')

print('\n\nOriginal vs Predicted ratings:\n')
for i in range(len(my_ratings)):
    if my_ratings[i] > 0:
        print(f'Original {my_ratings[i]}, Predicted {my_predictions[i]:0.2f} for {movie_list[i]}')

Predicting rating 4.86 for movie Dr. Goldfoot and the Bikini Machine (1965)
Predicting rating 4.86 for movie Alien Contamination (1980)
Predicting rating 4.86 for movie Galaxy of Terror (Quest) (1981)
Predicting rating 4.83 for movie Come and See (Idi i smotri) (1985)
Predicting rating 4.83 for movie Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)
Predicting rating 4.81 for movie Martin Lawrence Live: Runteldat (2002)
Predicting rating 4.81 for movie Little Dieter Needs to Fly (1997)
Predicting rating 4.81 for movie Lesson Faust (1994)
Predicting rating 4.81 for movie Assignment, The (1997)
Predicting rating 4.81 for movie Mephisto (1981)


Original vs Predicted ratings:

Original 5.0, Predicted 4.74 for New York Cop (Nyû Yôku no koppu) (1993)
Original 3.0, Predicted 3.56 for Blink (1994)
Original 2.0, Predicted 2.09 for Cowboy Way, The (1994)
Original 5.0, Predicted 4.41 for Nutty Professor, The (1996)
Original 5.0, Predicted 4.74 for Die Hard (1988)
Original 2.0, Predicted 2.43 for Annie Hall (1977)
Original 3.0, Predicted 3.01 for Some Kind of Wonderful (1987)
Original 1.0, Predicted 1.65 for Field of Dreams (1989)
Original 5.0, Predicted 4.55 for Temptress Moon (Feng Yue) (1996)
Original 4.0, Predicted 4.10 for Carnival of Souls (1962)
Original 3.0, Predicted 2.82 for City of the Living Dead (a.k.a. Gates of Hell, The) (Paura nella città dei morti viventi) (1980)
Original 4.0, Predicted 3.78 for Abbott and Costello Meet Frankenstein (1948)
Original 1.0, Predicted 1.11 for Digimon: The Movie (2000)